* {
    font-family: 'Gowun Dodum', sans-serif;
}

body {
    background-color: black;
}

p {
    color: white;
    text-align: center;
    top: 50%;
    margin-top: 200px;
    
}


.dol > input {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("image1.png");
    background-position: center;
    background-size: cover;

    width: 300px;
    height: 300px;

    border: none;
    border-radius: 50%;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;

    color: white;
    text-align: center;
}

.dol > button {
    position:absolute;
    border-color: white;
    background-color: black;
    border-radius: 10%;
    color: white;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    top: 50%;
    margin-top: 200px;
}

.frame {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        width: 300px;
        height: 300px;
        margin-top: -150px;
        margin-left: -150px;
        border-radius: 2px;
}

.frame > button {
    position:absolute;
    border-color: white;
    background-color: black;
    border-radius: 10%;
    color: white;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: 250px;
}

.wrap { 
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius : 50%;  
    background-color: transparent;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    transform: translate3d(0, 0, 0);
}
      
.wave {
    width: 500px;  
    height: 500px;
    position: absolute;
    top: 53%;     
    left: -100px;  
    border-radius: 43%; 
    animation: drift 10s infinite linear;
    background: rgba(156, 178, 201, 0.3);  
}

.wave.layer_1 {
    animation: drift 20s infinite linear;
    background: rgba(94, 118, 184, 0.3);
}
      
      
@keyframes drift {
    100% { 
        transform: rotate(-360deg); 
    }
}